# -----------------------------------------------------------------------------
# PCI

# Disable power management for Intel AX200 Wi-Fi 6 adapter
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x2723", ATTR{power/control}="on", GOTO="power_pci_done"

# Enable power management on all other PCI devices
SUBSYSTEM=="pci", TEST=="power/control", ATTR{power/control}="auto"

LABEL="power_pci_done"

# -----------------------------------------------------------------------------
# USB

# # Disable power management for Intel AX200 Bluetooth adapter
# ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="8087", ATTR{idProduct}=="0029", TEST=="power/control", ATTR{power/control}="on"
# ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="8087", ATTR{idProduct}=="0029", GOTO="power_usb_done"

# Enable power management on all other USB devices
ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{power/control}="auto"

LABEL="power_usb_done"

# -----------------------------------------------------------------------------
# ATA

# Enable power management on SATA ports
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0xa353", ATTR{ata1/power/control}="auto"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0xa353", ATTR{ata2/power/control}="auto"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0xa353", ATTR{ata3/power/control}="auto"

# Enable SATA active link power management
ACTION=="add", SUBSYSTEM=="scsi_host", KERNEL=="host*", ATTR{link_power_management_policy}="med_power_with_dipm"

