# Framework Laptop 16 Power Management Rules for udev
# 2024-03-23
#
# To Use:
# - sudo install -m 644 -T etc,udev,rules.d,60-power.rules /etc/udev/rules.d/60-power.rules
# - sudo udevadm control --reload
# - sudo udevadm trigger

# -----------------------------------------------------------------------------
# PCI

# EXAMPLE:
# # Disable power management for Intel AX200 Wi-Fi 6 adapter
# SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x2723", ATTR{power/control}="on", GOTO="power_pci_done"

# Enable power management on all other PCI devices
SUBSYSTEM=="pci", TEST=="power/control", ATTR{power/control}="auto"

LABEL="power_pci_done"

# -----------------------------------------------------------------------------
# USB

# Disable power management for Framework Laptop 16 Keyboard Module - ANSI
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="32ac", ATTR{idProduct}=="0012", TEST=="power/control", ATTR{power/control}="on", GOTO="power_usb_done"

# Enable power management on all other USB devices
ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{power/control}="auto"

LABEL="power_usb_done"

# -----------------------------------------------------------------------------
# I2C

# So far, nothing to disable.

# Enable power management on all other I2C devices
ACTION=="add", SUBSYSTEM=="i2c", TEST=="power/control", ATTR{power/control}="auto"

LABEL="power_i2c_done"

